.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 
        "header header"
        "nav main "
        "footer footer ";
    height: 100vh;
}
header { grid-area: header; background: #e7e7e5; width: 100%; height: 3rem; margin: 0px; margin-bottom: 5px; position:fixed; top: 0; left: 0; right: 0; }
.header { margin:0 auto; padding:0px 10px ; }

nav { grid-area: nav; background: #d8cfd8; align-items: center; margin: 0; padding: 10px; height: 100%; position: fixed; top: 3rem; left: 0; bottom: 3rem; width: 100px; text-align: center; display: flex; flex-direction: column; }
.nav-links a {
    display: block;
    align-items: center;
    margin: 1px 1px;
    padding: 4px 10px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    border: 1px solid #2020b9;
}

main { grid-area: main; background: #a1a8d6; padding: 10px; margin: 1px; border-radius: 5px; border: 1px solid #ccc; box-shadow: #2020b9;}
.container{
    display:flex;
}
.container1 {
    flex: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #2020b9;
}
.container2 {
    flex: 1;
    margin-left: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #2020b9;
}
footer {  grid-area: footer; background: #4b4a66; width: 100%; height: 2rem;  margin-bottom: 0px; left: 0; right: 0; width: 100%; color: white; text-align: center;  }
.grid-item {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid #ccc;
}
.item {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid #ccc;
}
@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
    nav {
        position: relative;
        height: auto;
    }
    main {
        margin-top: 10px;
    }
}
@media (max-width: 400px) {
    header, footer {
        text-align: center;
        font-size: 14px;
    }
    nav {
        font-size: 14px;
    }
}